bam_file = "/home/sabramov/projects/ont/toy_example/alingments/merged/PAM52884_pass_53dc2e57.sorted.bam"
nanosv_regions = "/home/sabramov/projects/ont/toy_example/covabachi/chrom6.bed"
blacklist="/home/sabramov/projects/ont/toy_example/covabachi/hg38-blacklist.v2.bed"
outdir = "output_1k"
slice_size = 1000